# Executables
gereVendas
tester

# Compiled object files
*.o

# VIM autocomplete
.ycm_extra_conf.py
.ycm_extra_conf.pyc
__pycache__

# Documentation
doc
Vendas_5M.txt

# Trash
*.swp
.*.swp

# Data
data/
